// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.bg-poke-dark {
    background-color: #2C2F33 !important;
}
.bg-poke-header {
    background-color: #23272A !important;
}

.text-poke-gold {
    color: #F1C40F !important;
}

.text-poke-light {
    color: #E0E0E0 !important;
}

.nav-link.text-poke-light:hover {
    color: #FFFFFF !important;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.5);
}

.text-poke-muted {
    color: #B9BBBE !important;
}

.btn-poke-primary {
    background-color: #5865F2;
    color: white;
    border: none;
}
.btn-poke-primary:hover {
    background-color: #4752C4;
    color: white;
}

.form-control-poke {
    background-color: #23272A !important;
    border: 1px solid #4F545C !important;
    color: #FFFFFF !important;
}

.form-control-poke:focus {
    background-color: #2C2F33 !important;
    border-color: #F1C40F !important;
    box-shadow: 0 0 0 0.25rem rgba(241, 196, 15, 0.25) !important;
    color: white !important;
}

.form-control.bg-dark::placeholder {
    color: rgba(255, 255, 255, 0.6) !important;
}

.form-control-poke::placeholder {
    color: rgba(255, 255, 255, 0.4) !important;
    opacity: 1; 
}

.custom-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    background-color: #212529;
    border: 1px solid #ffc107;
    border-top: none;
    border-radius: 0 0 0.375rem 0.375rem;
    z-index: 1050;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.custom-dropdown-list::-webkit-scrollbar {
    width: 8px;
}
.custom-dropdown-list::-webkit-scrollbar-track {
    background: #212529;
}
.custom-dropdown-list::-webkit-scrollbar-thumb {
    background: #ffc107;
    border-radius: 4px;
}

.dropdown-item-poke {
    padding: 10px 15px;
    color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.dropdown-item-poke:hover {
    background-color: #ffc107;
    color: #212529;
    font-weight: bold;
}

#profileTabs {
    .nav-link {
        color: #6c757d;
        border: none;
        background-color: transparent;

        &:hover {
            color: #f8f9fa;
        }

        &.active {
            background-color: #212529;
            color: #fff;
            border: 1px solid #6c757d;
            border-bottom-color: #212529;
        }
    }
}